<div class='container'>
    <div class='footer'>
        <p>
            Copyright &copy; <a href='http://tocdep.vn'>The complete rails developer course</a>
            by <a href='http://tocdep.vn'>Mashrur Academy</a>
        </p>
        <nav>
            <ul>
                <li><%=link_to 'About', about_path %></li>
            </ul>
        </nav>
    </div>
</div>